html 
{
    scroll-behavior: smooth;
    background-color: #eeeeee;
}

.body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.photo {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.material-icons 
{
    vertical-align: -4px;
}

.link 
{
    width: 100%;
    height: 40px;
    transition: background-color 0.1s ease-in-out;
    font-size: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;}

.a:hover {
    font-weight: bold;
    color: #c63848;
}

footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c63848;
    height: 40px;
    color:white;
}

.block-left {
    position: sticky;
    top: 0;
    width: 10%;
    height: 100vh;
    overflow: auto;
    float: left;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.block-right {
    width: auto;
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    overflow: auto;
}

.title 
{
    top: 0;
    height: 100%;
    font-size: 30px;
    padding: 15px;
    background-color: #c63848;
    color:white;
}

.content {
    padding: 20px 0 20px 0;
    width: 85%;
    margin: 0px auto;
}

.resume {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    height: 70px;
    max-width: 400px;
    width: 80%;
    border-radius: 10px;
    font-weight: 900;
    transition: border 0.3s ease;
    border: 3px solid #ffffff;
}

    .resume:hover {
        border: 3px solid #c63848;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }

.contact {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    height: 100vh;
}

.contact_t {
    display: flex;
    align-items: center;
    border: 3px solid #0088cc;
    background-color: #0088cc;
    margin: 10px 0;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 65px;
    transition: border 0.3s ease;
}

    .contact_t:hover {
        border: 3px solid #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }

.contact_g {
    display: flex;
    align-items: center;
    border: 3px solid #D44638;
    background-color: #D44638;
    margin: 10px 0;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 65px;
    transition: border 0.3s ease;
}
    .contact_g:hover {
        border: 3px solid #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }

.contact_gh {
    display: flex;
    align-items: center;
    border: 3px solid #171515;
    background-color: #171515;
    margin: 10px 0;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 65px;
    transition: border 0.3s ease;
}
    .contact_gh:hover {
        border: 3px solid #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }

.resume_d {
    margin: 10px auto;
    color: #c63848;
}

.all_links {
    margin: 20px 0 0 0;
}

.top_title {
    text-align: center;
    font-weight: bold;
    color: #c63848;
}

@media(max-width:1400px) 
{
    .block-left {
        width: 15%;
    }
}

@media(max-width:1000px) 
{
    .top {
        display: none;
    }
    .title_left {
        display: none;
    }
    .block-left 
    {
        width: 50px;
    }
}