.body {
    margin: 0;
}
.separator {
    height: 20px;
    width: 100%;
    background-color: red;
}
.text {
    font-size: 3em;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
}

.photo {
    background-image: url('https://sun9-70.userapi.com/impg/XoBjj4xZkk1pLd2qigKaxW384zz8dwtPomavkg/o-RnV1kpu60.jpg?size=2560x2560&quality=95&sign=6880131caaabcd7964fc39596af68331&type=album');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.links {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    display: block;
    margin: 10px;
    width: 30%;
    height: 50px;
    background-color: pink;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

    .link:hover {
        background-color: #00bcd4;
    }

.a {
    text-decoration: none;
}

.a:hover {
    color: white;
}


    
