<!DOCTYPE html>
<html>
<head>
	<title>Болонин Михаил</title>
	<link rel="stylesheet" href="/css/site.css">
</head>
<body class="body" onscroll="">
	<div class="photo"></div>
	<div class="separator"></div>
	<div class="links">
		<div class="link">
			<a href="#" class="a">Обо мне</a>
		</div>
		<div class="link">
			<a href="#" class="a">Мои проеты</a>
		</div>
		<div class="link">
			<a href="#" class="a">Связаться со мной</a>
		</div>
	</div>
	<div class="separator"></div>
</body>
</html>
